/* ===========================
   TABLET
=========================== */

@media(max-width:992px){

.hero-grid{

grid-template-columns:1fr;

text-align:center;

}

.hero-left p{

margin:auto;

}

.hero-buttons{

justify-content:center;

}

.nav-container{

flex-direction:column;

gap:20px;

}

.nav-links{

flex-wrap:wrap;

justify-content:center;

}

.metrics-grid{

grid-template-columns:1fr;

}

.status-card{

margin-top:40px;

}

}

/* ===========================
   MOBILE
=========================== */

@media(max-width:768px){

.hero h1{

font-size:42px;

}

.section-title{

font-size:30px;

}

.flow-box{

width:100%;

}

.hero-buttons{

flex-direction:column;

}

.btn{

width:100%;

text-align:center;

}

.nav-links{

gap:18px;

font-size:14px;

}

.terminal-window{

width:95%;

height:90%;

}

}